
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }
 
 body{
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:#FDFEFE;
 }

/*------------------------------------*/

.modal{
	width: 400px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position:relative;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
.contenedor{
	width: 400px;
	height: 120px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido{
	width: 100%;
	padding: 10px; 
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none;
}
.lbl-modal{
    margin-top: 200px;
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
    margin-left: -100px;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}





 /*----------------------------------*/
 .link a{
    position: relative;
    display: flex;
    color: chocolate;
 }
 .container{
     position: relative;
     max-width: 430px;
     width: 100%;
     background: #fff;
     border-radius: 10px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     margin: 0 20px;
 }
 
 .container .forms{
     display: flex;
     align-items: center;
     height: 540px;
     width: 200%;
     transition: height 0.2s ease;
 }
 
 
 .container .form{
     width: 50%;
     padding: 30px;
     background-color: #fff;
     transition: margin-left 0.18s ease;
 }
 
 .container.active .login{
     margin-left: -50%;
     opacity: 0;
     transition: margin-left 0.18s ease, opacity 0.15s ease;
 }
 
 .container .signup{
     opacity: 0;
     transition: opacity 0.09s ease;
 }
 .container.active .signup{
     opacity: 1;
     transition: opacity 0.2s ease;
 }
 
 .container.active .forms{
     height: 900px;
 }
 .container .form .title{
     position: relative;
     font-size: 27px;
     font-weight: 600;
 }
 
 .form .title::before{
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     height: 3px;
     width: 30px;
     background-color:chocolate;
     border-radius: 25px;
 }
 
 .form .input-field{
     position: relative;
     height: 50px;
     width: 100%;
     margin-top: 30px;
 }
 
 .input-field input{
     position: absolute;
     height: 100%;
     width: 100%;
     padding: 0 35px;
     border: none;
     outline: none;
     font-size: 16px;
     border-bottom: 2px solid #ccc;
     border-top: 2px solid transparent;
     transition: all 0.2s ease;
 }
 
 .input-field input:is(:focus, :valid){
     border-bottom-color: chocolate;
 }
 
 .input-field i{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     color: #999;
     font-size: 23px;
     transition: all 0.2s ease;
 }
 
 .input-field input:is(:focus, :valid) ~ i{
     color: chocolate;
 }
 
 .input-field i.icon{
     left: 0;
 }
 .input-field i.showHidePw{
     right: 0;
     cursor: pointer;
     padding: 10px;
 }
 
 .form .checkbox-text{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 20px;
 }
 
 .checkbox-text .checkbox-content{
     display: flex;
     align-items: center;
 }
 
 .checkbox-content input{
     margin-right: 10px;
     accent-color:chocolate;
 }
 
 .form .text{
     color: #333;
     font-size: 14px;
 }
 
 .form a.text{
     color: chocolate;
     text-decoration: none;
 }
 .form a:hover{
     text-decoration: underline;
 }
 
 .form .button{
     margin-top: 35px;
 }
 
 .form .button input{
     border: none;
     color: #fff;
     font-size: 17px;
     font-weight: 500;
     letter-spacing: 1px;
     border-radius: 6px;
     background-color:chocolate;
     cursor: pointer;
     transition: all 0.3s ease;
 }
 
 .button input:hover{
     
     background-color: #333;
 }
 
 .form .login-signup{
     margin-top: 30px;
     text-align: center;
 }

 /*css validacion login*/

 #nombreError {
    display: none;
    font-size: 0.8em;
  }
  
  #nombreError.visible {
    display: block;
  }
  
  input.invalido {
    border-color: red;
  }


  a {
    color: inherit;
    text-decoration: none;
  }
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
  }
  .btn-group {
    text-align: center;
  }
  
  .open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  
  /* MODAL
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
  
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
  }
  
  .modal-dialog > * {
    padding: 1rem;
  }
  
  .modal-header,
  .modal-footer {
    background: var(--lightgray);
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-header .close-modal {
    font-size: 1.5rem;
  }
  
  .modal p + p {
    margin-top: 1rem;
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.5s var(--bounceEasing);
  }
  
  [data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  [data-animation="slideInOutDown"] .modal-dialog {
    transform: translateY(100%);
  }
  
  [data-animation="slideInOutTop"] .modal-dialog {
    transform: translateY(-100%);
  }
  
  [data-animation="slideInOutLeft"] .modal-dialog {
    transform: translateX(-100%);
  }
  
  [data-animation="slideInOutRight"] .modal-dialog {
    transform: translateX(100%);
  }
  
  [data-animation="zoomInOut"] .modal-dialog {
    transform: scale(0.2);
  }
  
  [data-animation="rotateInOutDown"] .modal-dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
  }
  
  [data-animation="mixInAnimations"].is-visible .modal-dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
  }
  
  [data-animation="slideInOutDown"].is-visible .modal-dialog,
  [data-animation="slideInOutTop"].is-visible .modal-dialog,
  [data-animation="slideInOutLeft"].is-visible .modal-dialog,
  [data-animation="slideInOutRight"].is-visible .modal-dialog,
  [data-animation="zoomInOut"].is-visible .modal-dialog,
  [data-animation="rotateInOutDown"].is-visible .modal-dialog {
    transform: none;
  }
  
  @keyframes mixInAnimations {
    0% {
      transform: translateX(-100%);
    }
  
    10% {
      transform: translateX(0);
    }
  
    20% {
      transform: rotate(20deg);
    }
  
    30% {
      transform: rotate(-20deg);
    }
  
    40% {
      transform: rotate(15deg);
    }
  
    50% {
      transform: rotate(-15deg);
    }
  
    60% {
      transform: rotate(10deg);
    }
  
    70% {
      transform: rotate(-10deg);
    }
  
    80% {
      transform: rotate(5deg);
    }
  
    90% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  
  .page-footer span {
    color: #e31b23;
  }